@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="container">
    <div class="row">
        <div class="col-6">
            <SimpleMDE @ref="firstEditor" OnTextChanged="TextChanged" />
        </div>
        <div class="col-6">
            <SimpleMDE @ref="secondEditor" OnTextChanged="TextChanged" />
        </div>
    </div>
</div>

@code {
    SimpleMDE firstEditor;
    SimpleMDE secondEditor;

    void TextChanged(TextChangedArgs args)
    {
        Console.WriteLine(args);

        // emulate a broadcast
        firstEditor.UpdateText(args);
        secondEditor.UpdateText(args);
    }
}